// Overrides

[data-am-bulma~="section"],
html {
    background-color: #000;
}

[data-am-bulma~="hero"] {
    background-color: $black-ter;
}

[data-am-bulma~="box"] {
    box-shadow: none;
    background-color: $black-ter;
}

[data-am-bulma~="delete"] {
    background-color: rgba(255, 255, 255, 0.2);

    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
}

[data-am-bulma~="label"] {
    color: $grey-lighter;
}

[data-am-bulma~="notification"] {
    @each $name, $pair in $colors {
        $color: nth($pair, 1);
        $color-invert: nth($pair, 2);

        &[data-am-bulma~="is-#{$name}"] {
            a:not([data-am-bulma~="button"]) {
                color: $color-invert;
                text-decoration: underline;
            }
        }
    }
}

[data-am-bulma~="card"] {
    $card-border: lighten($grey-darker, 5);
    box-shadow: none;
    background-color: $grey-darker;

    [data-am-bulma~="card-header"] {
        box-shadow: none;
        background-color: rgba($black-bis, .2);
    }

    [data-am-bulma~="card-footer"] {
        background-color: rgba($black-bis, .2);
    }

    [data-am-bulma~="card-footer"],
    [data-am-bulma~="card-footer-item"] {
        border-color: $card-border;
    }
}

[data-am-bulma~="message-header"] {
    background-color: $black-ter;
    color: $white;
}

[data-am-bulma~="message-body"] {
    border-color: $black-ter;
}

[data-am-bulma~="modal-card-body"] {
    background-color: $black-ter;
}

[data-am-bulma~="modal-card-foot"],
[data-am-bulma~="modal-card-head"] {
    border-color: $black-ter;
}

[data-am-bulma~="nav"] {
    background-color: #000;
    border: 1px solid $grey-darker;
}

[data-am-bulma~="hero"] {
    [data-am-bulma~="nav"] {
        border: none;
        box-shadow: 0 1px 0 rgba($border, 0.5);
    }
}
