// Overrides
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@mixin btn-shadow($color) {
  background-image: linear-gradient(180deg, lighten($color, 3%) 0%, $color 60%, darken($color, 3%) 100%);
  filter: none;
}

[data-am-bulma~="box"] {
  box-shadow: 0 0 0 1px $border;
}

[data-am-bulma~="button"],
[data-am-bulma~="input"],
[data-am-bulma~="pagination-ellipsis"],
[data-am-bulma~="pagination-link"],
[data-am-bulma~="pagination-next"],
[data-am-bulma~="pagination-previous"],
[data-am-bulma~="select"],
[data-am-bulma~="select"] select,
[data-am-bulma~="textarea"],
[data-am-bulma~="control"][data-am-bulma~="has-icons-left"] [data-am-bulma~="icon"],
[data-am-bulma~="control"][data-am-bulma~="has-icons-right"] [data-am-bulma~="icon"] {
  height: 2.286em;
}

[data-am-bulma~="button"] {
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &[data-am-bulma~="is-#{$name}"] {
      &:not([data-am-bulma~="is-outlined"]):not([data-am-bulma~="is-inverted"]) {
        border: 1px solid darken($color, 6.5%);
        @include btn-shadow($color);
      }
    }
  }
}

[data-am-bulma~="input"],
[data-am-bulma~="textarea"] {
  box-shadow: none;
}

[data-am-bulma~="card"] {
  box-shadow: 0 0 0 1px $border;
  background-color: $white-bis;

  [data-am-bulma~="card-header"] {
    box-shadow: none;
    border-bottom: 1px solid $border;
  }
}

[data-am-bulma~="notification"] {
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &[data-am-bulma~="is-#{$name}"] {
      background-color: rgba($color, .1);
      color: $color;
      border: 1px solid rgba($color, .2);
    }
  }
}

[data-am-bulma~="nav"] {
  background-color: $primary;
  color: $white;

  [data-am-bulma~="subtitle"],
  [data-am-bulma~="title"] {
    color: $white-bis;
  }

  [data-am-bulma~="nav-item"] a:not([data-am-bulma~="button"]),
  a[data-am-bulma~="nav-item"]:not([data-am-bulma~="button"]) {
    color: rgba($white, 0.75);

    &:hover {
      color: $white;
    }
    // Modifiers
    &[data-am-bulma~="is-active"] {
      color: $white;

      &[data-am-bulma~="is-tab"] {
        border-bottom-color: $white;
      }
    }
  }

  [data-am-bulma~="nav-toggle"] {
    &:hover {
      background-color: rgba($black, 0.075);
    }

    span {
      background-color: rgba($white, 0.75);
    }
  }
}

[data-am-bulma~="hero"] {
  // Colors
  [data-am-bulma~="nav"] {
    background-color: $primary;
    @include btn-shadow($primary);
  }
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &[data-am-bulma~="is-#{$name}"] {
      [data-am-bulma~="nav"] {
        background: none;
      }

      [data-am-bulma~="nav-item"] a:not([data-am-bulma~="button"]),
      a[data-am-bulma~="nav-item"] {
        color: $color-invert;

        &[data-am-bulma~="is-active"],
        &:hover {
          background-color: darken($color, 10);
          color: $color-invert;
        }
      }
    }
  }
}
