@import '../materia/bulmaswatch';
@import "highlight";
nav[data-am-bulma~="main-nav"] {
    border-radius: 0;
    min-height: 4rem;
    [data-am-bulma~="title"] {
        color: #fff;
        font-weight: bold;
    }
    [data-am-bulma~="logo"] {
        padding-right: 10px;
    }
    [data-am-bulma~="nav-item"] {
        margin: 0.75rem 0.25rem;
        border-radius: $radius;
    }

    [data-am-bulma~="select"] select {
        padding-right: 2.5em !important;
    }
}

[data-am-bulma~="home-page"] {
    [data-am-bulma~="main-nav"] {
        background-color: transparent !important;
        box-shadow: none !important;
        [data-am-bulma~="nav-item"] {
            &[data-am-bulma~="is-active"],
            &:hover {
                background-color: rgba($black, 0.05) !important;
            }
        }
        [data-am-bulma~="select"] select {
            background-color: transparent;
            box-shadow: none;
        }
    }
    [data-am-bulma~="hero"] {
        overflow: hidden !important;
    }
    [data-am-bulma~="hero-body"] {
        transform: translate3d(0, 0, 0);
        will-change: transform;
        transition: transform ease 1ms;
        padding-bottom: 0;
        [data-am-bulma~="title"] {
            font-weight: 200;
            margin-top: 1rem;
        }
        [data-am-bulma~="subtitle"] {
            font-weight: 700;
        }
        a {
            text-decoration: underline;
        }
        img {
            display: block;
        }
    }
    [data-am-bulma~="iframe>*"] {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 100%;
        border-top-left-radius: $radius-large;
        border-top-right-radius: $radius-large;
    }
    [data-am-bulma~="section"][data-am-bulma~="themes"] {
        padding-top: 5rem;
        padding-bottom: 5rem;
        [data-am-bulma~="box"] {
            background-color: #fafafa;
            padding: 0 0 1rem;
            border-top-left-radius: $radius-large;
            border-top-right-radius: $radius-large;
            [data-am-bulma~="block"] {
                margin: 1rem 0;
            }
        }
    }
}
