// Overrides
@import url(https://fonts.googleapis.com/css?family=Montserrat);

[data-am-bulma~="modal-card-title"],
[data-am-bulma~="subtitle"],
[data-am-bulma~="title"],
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: $family-heading;
}

[data-am-bulma~="box"] {
  box-shadow: 0 0 0 1px $grey-lighter;
}

[data-am-bulma~="button"],
[data-am-bulma~="input"],
[data-am-bulma~="pagination-ellipsis"],
[data-am-bulma~="pagination-link"],
[data-am-bulma~="pagination-next"],
[data-am-bulma~="pagination-previous"],
[data-am-bulma~="select"],
[data-am-bulma~="select"] select,
[data-am-bulma~="textarea"],
[data-am-bulma~="control"][data-am-bulma~="has-icons-left"] [data-am-bulma~="icon"],
[data-am-bulma~="control"][data-am-bulma~="has-icons-right"] [data-am-bulma~="icon"] {
  height: 2.534em;
}

[data-am-bulma~="button"] {
  transition: all 200ms ease;
  font-weight: 500;
  font-family: $family-heading;

  &[data-am-bulma~="is-active"],
  &[data-am-bulma~="is-focused"],
  &:active,
  &:focus {
    box-shadow: 0 0 0 2px rgba($button-focus-border, 0.25);
  }
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &[data-am-bulma~="is-#{$name}"] {
      &[data-am-bulma~="is-active"],
      &[data-am-bulma~="is-focused"],
      &:active,
      &:focus {
        border-color: $color;
        box-shadow: 0 0 0 2px rgba($color, 0.25);
      }
    }
  }
}

[data-am-bulma~="input"],
[data-am-bulma~="textarea"] {
  transition: all 200ms ease;
  box-shadow: none;
}

[data-am-bulma~="notification"] {
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &[data-am-bulma~="is-#{$name}"] {
      a:not([data-am-bulma~="button"]) {
        color: $color-invert;
        text-decoration: underline;
      }
    }
  }
}

[data-am-bulma~="card"] {
  box-shadow: none;
  border: 1px solid $grey-lighter;
  border-radius: $radius;

  [data-am-bulma~="card-image"] {
    img {
      border-radius: $radius $radius 0 0;
    }
  }

  [data-am-bulma~="card-header"] {
    box-shadow: none;
    border-bottom: 1px solid $grey-lighter;
    border-radius: $radius $radius 0 0;
  }
}

[data-am-bulma~="card-header-title"],
[data-am-bulma~="menu-label"],
[data-am-bulma~="message-header"],
[data-am-bulma~="panel-heading"] {
  font-family: $family-heading;
  font-weight: normal;
}

[data-am-bulma~="menu-list"] a {
  border-radius: $radius;
}

[data-am-bulma~="nav"] {
  background-color: $primary;
  border-radius: $radius;
  color: rgba($white, 0.6);

  [data-am-bulma~="subtitle"],
  [data-am-bulma~="title"] {
    color: rgba($white, 0.6);
    font-family: $family-heading;
  }

  [data-am-bulma~="nav-item"] a:not([data-am-bulma~="button"]),
  a[data-am-bulma~="nav-item"]:not([data-am-bulma~="button"]) {
    color: rgba($white, 0.6);
    font-family: $family-heading;

    &:hover {
      color: $white;
    }
    // Modifiers
    &[data-am-bulma~="is-active"] {
      color: $white;

      &[data-am-bulma~="is-tab"] {
        border-bottom-color: rgba($white, 0.6);
      }
    }
  }

  [data-am-bulma~="nav-toggle"] {
    &:hover {
      background-color: rgba($white, 0.1);

      span {
        background-color: $white;
      }
    }

    span {
      background-color: rgba($white, 0.6);
    }
  }
}

[data-am-bulma~="hero"] [data-am-bulma~="nav"],
body > [data-am-bulma~="nav"] {
  border-radius: 0;
}

[data-am-bulma~="hero"] {
  // Colors
  [data-am-bulma~="nav"] {
    background-color: $primary;
  }
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &[data-am-bulma~="is-#{$name}"] {
      [data-am-bulma~="nav"] {
        background: none;
      }

      [data-am-bulma~="nav-item"] a:not([data-am-bulma~="button"]),
      a[data-am-bulma~="nav-item"] {
        color: rgba($color-invert, 0.6);

        &[data-am-bulma~="is-active"],
        &:hover {
          color: $color-invert;
        }
      }
    }
  }
}

[data-am-bulma~="panel-block"][data-am-bulma~="is-active"] {
  color: $primary;
}
