// Overrides
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);

[data-am-bulma~="button"],
[data-am-bulma~="input"],
[data-am-bulma~="pagination-ellipsis"],
[data-am-bulma~="pagination-link"],
[data-am-bulma~="pagination-next"],
[data-am-bulma~="pagination-previous"],
[data-am-bulma~="select"],
[data-am-bulma~="select"] select,
[data-am-bulma~="textarea"],
[data-am-bulma~="control"][data-am-bulma~="has-icons-left"] [data-am-bulma~="icon"],
[data-am-bulma~="control"][data-am-bulma~="has-icons-right"] [data-am-bulma~="icon"] {
  height: 2.572em;
}

[data-am-bulma~="button"] {
  &[data-am-bulma~="is-active"],
  &:active {
    box-shadow: inset 1px 1px 4px rgba($grey-darker, 0.3);
  }
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &[data-am-bulma~="is-#{$name}"] {
      &[data-am-bulma~="is-hovered"],
      &:hover {
        background-color: darken($color, 10);
      }

      &[data-am-bulma~="is-active"],
      &:active {
        box-shadow: inset 1px 0 3px rgba($grey-darker, 0.3);
        background-color: darken($color, 10);
      }
    }
  }
}

[data-am-bulma~="input"],
[data-am-bulma~="textarea"] {
  box-shadow: none;
}

[data-am-bulma~="notification"] {
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &[data-am-bulma~="is-#{$name}"] {
      a:not([data-am-bulma~="button"]) {
        color: $color-invert;
        text-decoration: underline;
      }
    }
  }
}

[data-am-bulma~="nav"] {
  background-color: $primary;
  border-radius: $radius;
  color: rgba($white, 0.6);

  [data-am-bulma~="subtitle"],
  [data-am-bulma~="title"] {
    color: $white;
  }

  [data-am-bulma~="nav-item"] a:not([data-am-bulma~="button"]),
  a[data-am-bulma~="nav-item"]:not([data-am-bulma~="button"]) {
    color: rgba($white, 0.6);

    &:hover {
      color: $white;
    }
    // Modifiers
    &[data-am-bulma~="is-active"] {
      color: $white;

      &[data-am-bulma~="is-tab"] {
        border-bottom-color: $white;
      }
    }
  }

  [data-am-bulma~="nav-toggle"] {
    &:hover {
      background-color: rgba($white, 0.1);

      span {
        background-color: $white;
      }
    }

    span {
      background-color: rgba($white, 0.6);
    }
  }
}

[data-am-bulma~="hero"] [data-am-bulma~="nav"],
body > [data-am-bulma~="nav"] {
  border-radius: 0;
}

[data-am-bulma~="hero"] {
  // Colors
  [data-am-bulma~="nav"] {
    background-color: $primary;
  }
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &[data-am-bulma~="is-#{$name}"] {
      [data-am-bulma~="nav"] {
        background: none;
      }

      [data-am-bulma~="nav-item"] a:not([data-am-bulma~="button"]),
      a[data-am-bulma~="nav-item"] {
        color: rgba($color-invert, 0.6);

        &[data-am-bulma~="is-active"],
        &:hover {
          color: $color-invert;
        }
      }
    }
  }
}
