// Overrides
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
@mixin btn-shadow($color) {
  background-image: linear-gradient(180deg, lighten($color, 15%) 0%, $color 60%, darken($color, 4%) 100%);
  filter: none;
  border: 1px solid darken($color, 10%);
}

[data-am-bulma~="button"] {
  transition: all 200ms ease;
  text-shadow: -1px -1px 0 rgba($black, 0.1);

  &[data-am-bulma~="is-loading"] {
    text-shadow: none;
  }
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &[data-am-bulma~="is-#{$name}"] {
      &:not([data-am-bulma~="is-outlined"]):not([data-am-bulma~="is-inverted"]) {
        @include btn-shadow($color);

        &[data-am-bulma~="is-hovered"],
        &:hover {
          @include btn-shadow(darken($color, 4%));
        }
      }
    }
  }
}

[data-am-bulma~="notification"] {
  border: 1px solid $border;
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &[data-am-bulma~="is-#{$name}"] {
      background-color: rgba($color, 0.1);
      color: $color;
      border: 1px solid rgba($color, 0.3);
    }
  }
}

[data-am-bulma~="progress"] {
  border-radius: $radius-large;
}

[data-am-bulma~="nav"] {
  @include btn-shadow($light);
}

[data-am-bulma~="hero"] {
  [data-am-bulma~="nav"] {
    background-color: $background;
    @include btn-shadow($light);
    border: none;
  }
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &[data-am-bulma~="is-#{$name}"] {
      [data-am-bulma~="nav"] {
        background: $color;
        @include btn-shadow($color);
        border: none;
      }
    }
  }
}
