// Overrides
@import url(https://fonts.googleapis.com/css?family=Nunito+Sans);

body {
  font-weight: 200;
  letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  letter-spacing: 3px;
}

a {
  color: $grey;
}

[data-am-bulma~="box"] {
  box-shadow: 0 0 0 1px $grey-lighter;
}

[data-am-bulma~="button"] {
  transition: all 200ms ease;
  text-transform: uppercase;
  font-weight: 700;

  &[data-am-bulma~="is-active"],
  &[data-am-bulma~="is-focused"],
  &:active,
  &:focus {
    box-shadow: 0 0 0 2px rgba($button-focus-border, 0.25);
  }
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &[data-am-bulma~="is-#{$name}"] {
      &[data-am-bulma~="is-active"],
      &[data-am-bulma~="is-focused"],
      &:active,
      &:focus {
        border-color: $color;
        box-shadow: 0 0 0 2px rgba($color, 0.25);
      }
    }
  }
}

[data-am-bulma~="button"],
[data-am-bulma~="input"],
[data-am-bulma~="pagination-ellipsis"],
[data-am-bulma~="pagination-link"],
[data-am-bulma~="pagination-next"],
[data-am-bulma~="pagination-previous"],
[data-am-bulma~="select"],
[data-am-bulma~="select"] select,
[data-am-bulma~="textarea"],
[data-am-bulma~="control"][data-am-bulma~="has-icons-left"] [data-am-bulma~="icon"],
[data-am-bulma~="control"][data-am-bulma~="has-icons-right"] [data-am-bulma~="icon"] {
  height: 2.5em;
}

[data-am-bulma~="input"],
[data-am-bulma~="textarea"] {
  transition: all 200ms ease;
  box-shadow: none;
}

[data-am-bulma~="progress"],
[data-am-bulma~="tag"] {
  border-radius: $radius;
}

[data-am-bulma~="card"] {
  box-shadow: 0 0 0 1px $grey-lighter;

  [data-am-bulma~="card-header"] {
    box-shadow: 0 1px 0 0 $grey-lighter;
  }
}

[data-am-bulma~="nav"] {
  background-color: $primary;
  border-radius: $radius;
  color: $grey;
  min-height: 5rem;

  [data-am-bulma~="subtitle"],
  [data-am-bulma~="title"] {
    color: $grey;
    text-transform: uppercase;
    font-weight: bold;
  }

  [data-am-bulma~="nav-item"] a:not([data-am-bulma~="button"]),
  a[data-am-bulma~="nav-item"]:not([data-am-bulma~="button"]) {
    color: $grey;
    text-transform: uppercase;
    font-weight: bold;

    &:hover {
      color: $white;
    }
    // Modifiers
    &[data-am-bulma~="is-active"] {
      color: $white;

      &[data-am-bulma~="is-tab"] {
        border-bottom-color: $grey;
      }
    }
  }

  [data-am-bulma~="nav-toggle"] {
    width: 5rem;
    height: 5rem;

    &:hover {
      background-color: rgba($white, 0.1);

      span {
        background-color: $white;
      }
    }

    span {
      background-color: $grey;
    }
  }
}

[data-am-bulma~="hero"] {
  [data-am-bulma~="nav"] {
    background-color: $primary;
  }
}

[data-am-bulma~="notification"] {
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &[data-am-bulma~="is-#{$name}"] {
      a:not([data-am-bulma~="button"]) {
        color: $color-invert;
        text-decoration: underline;
      }
    }
  }
}
