// Overrides
@mixin btn-shadow($color) {
  background-image: linear-gradient(180deg, lighten($color, 6%) 0%, $color 60%, darken($color, 4%) 100%);
  filter: none;
}
@mixin btn-shadow-inverse($color) {
  background-image: linear-gradient(180deg, darken($color, 8%) 0%, darken($color, 4%) 40%, darken($color, 0%) 100%);
  filter: none;
}

[data-am-bulma~="section"] {
  background-color: $body-background;
}

[data-am-bulma~="hero"] {
  background-color: $grey-dark;
}

[data-am-bulma~="box"] {
  box-shadow: none;
  background-color: $grey-dark;
}

[data-am-bulma~="button"],
[data-am-bulma~="input"],
[data-am-bulma~="pagination-ellipsis"],
[data-am-bulma~="pagination-link"],
[data-am-bulma~="pagination-next"],
[data-am-bulma~="pagination-previous"],
[data-am-bulma~="select"],
[data-am-bulma~="select"] select,
[data-am-bulma~="textarea"],
[data-am-bulma~="control"][data-am-bulma~="has-icons-left"] [data-am-bulma~="icon"],
[data-am-bulma~="control"][data-am-bulma~="has-icons-right"] [data-am-bulma~="icon"] {
  height: 2.5em;
}

[data-am-bulma~="button"] {
  transition: all 200ms ease;
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &[data-am-bulma~="is-#{$name}"] {
      &:not([data-am-bulma~="is-outlined"]):not([data-am-bulma~="is-inverted"]) {
        @include btn-shadow($color);

        &[data-am-bulma~="is-hovered"],
        &:hover {
          @include btn-shadow-inverse($color);
          text-shadow: 1px 1px 1px rgba($black, 0.3);
        }
      }
    }
  }
}

[data-am-bulma~="label"] {
  color: $text;
}

[data-am-bulma~="notification"] {
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &[data-am-bulma~="is-#{$name}"] {
      a:not([data-am-bulma~="button"]) {
        color: $color-invert;
        text-decoration: underline;
      }
    }
  }
}

[data-am-bulma~="card"] {
  box-shadow: none;
  border: 1px solid $border;
  background-color: $grey-darker;
  border-radius: $radius;

  [data-am-bulma~="card-image"] {
    img {
      border-radius: $radius $radius 0 0;
    }
  }

  [data-am-bulma~="card-header"] {
    box-shadow: none;
    background-color: rgba($black-bis, .2);
    border-radius: $radius $radius 0 0;
  }

  [data-am-bulma~="card-footer"] {
    background-color: rgba($black-bis, .2);
  }

  [data-am-bulma~="card-footer"],
  [data-am-bulma~="card-footer-item"] {
    border-width: 1px;
    border-color: $border;
  }
}

[data-am-bulma~="nav"] {
  background-color: $background;
  color: $white;

  [data-am-bulma~="subtitle"],
  [data-am-bulma~="title"] {
    color: $white-bis;
  }

  [data-am-bulma~="nav-item"] a:not([data-am-bulma~="button"]),
  a[data-am-bulma~="nav-item"]:not([data-am-bulma~="button"]) {
    color: rgba($white, 0.75);
    border-left: 1px solid rgba($white, 0.1);
    border-right: 1px solid rgba($black, 0.2);

    &:hover {
      color: $white;
      border-left: 1px solid rgba($black, 0.2);
      background-color: rgba($black, 0.2);
    }
    // Modifiers
    &[data-am-bulma~="is-active"] {
      color: $white;
      background-color: rgba($black, 0.2);

      &[data-am-bulma~="is-tab"] {
        border-bottom-color: $white;
      }
    }
  }

  [data-am-bulma~="nav-toggle"] {
    &:hover {
      background-color: rgba($black, 0.075);
    }

    span {
      background-color: rgba($white, 0.75);
    }
  }
}

[data-am-bulma~="hero"] {
  [data-am-bulma~="nav"] {
    background-color: $background;
  }
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &[data-am-bulma~="is-#{$name}"] {
      [data-am-bulma~="nav"] {
        background: none;
      }

      [data-am-bulma~="nav-item"] a:not([data-am-bulma~="button"]),
      a[data-am-bulma~="nav-item"]:not([data-am-bulma~="button"]) {
        color: rgba($color-invert, 0.75);
        border-right: 1px solid darken($color, 15);

        &[data-am-bulma~="is-active"],
        &:hover {
          background-color: darken($color, 10);
          color: $color-invert;
          border-left: 1px solid darken($color, 15);
        }
      }
    }
  }
}

[data-am-bulma~="tabs"] {
  a {
    &:hover {
      color: $link-hover;
      border-bottom-color: $link-hover;
    }
  }

  li {
    &[data-am-bulma~="is-active"] {
      a {
        color: $primary-invert;
        border-bottom-color: $primary-invert;
      }
    }
  }

  &[data-am-bulma~="is-boxed"] {
    li[data-am-bulma~="is-active"] a {
      background-color: $primary;
      color: $primary-invert;
    }
  }
}

[data-am-bulma~="modal"] {
  [data-am-bulma~="modal-card-body"] {
    background-color: $body-background;
  }
}
