<!DOCTYPE html>
<html lang="en">

<head>
  <title> {{ page.title }} &bull; {{ site.title }} - {{ site.description }} </title>
  {% include meta.html %}
  <link href="{{ site.baseurl }}/assets/styles.min.css" rel="stylesheet" />
</head>

<body data-am-bulma="{{page.route}}-page">
  <section data-am-bulma="hero is-primary">
    <!-- Hero header: will stick at the top -->
    <div data-am-bulma="hero-head">
      {% include nav.html %}
    </div>
    <!-- Hero content: will be in the middle -->
    <div data-am-bulma="hero-body">
      <div data-am-bulma="container">
        <h1 data-am-bulma="title">
          {{ page.title }}
        </h1>
      </div>
    </div>
  </section>
  <div data-am-bulma="page-content">
    {{ content }}
  </div>
  {% include footer.html %}
</body>

</html>
