// Overrides
@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);

[data-am-bulma~="button"],
[data-am-bulma~="input"],
[data-am-bulma~="pagination-ellipsis"],
[data-am-bulma~="pagination-link"],
[data-am-bulma~="pagination-next"],
[data-am-bulma~="pagination-previous"],
[data-am-bulma~="select"],
[data-am-bulma~="select"] select,
[data-am-bulma~="textarea"],
[data-am-bulma~="control"][data-am-bulma~="has-icons-left"] [data-am-bulma~="icon"],
[data-am-bulma~="control"][data-am-bulma~="has-icons-right"] [data-am-bulma~="icon"] {
  height: 2.5em;
}

[data-am-bulma~="button"] {
  font-family: $family-heading;
  font-weight: 700;
  padding-left: 1em;
  padding-right: 1em;
}

[data-am-bulma~="card-header-title"],
[data-am-bulma~="menu-label"],
[data-am-bulma~="message-header"],
[data-am-bulma~="modal-card-title"],
[data-am-bulma~="panel-heading"],
[data-am-bulma~="subtitle"],
[data-am-bulma~="title"],
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: $family-heading;
}

[data-am-bulma~="notification"] {
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &[data-am-bulma~="is-#{$name}"] {
      a:not([data-am-bulma~="button"]) {
        color: $color-invert;
        text-decoration: underline;
      }
    }
  }
}
