// Overrides
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic);

[data-am-bulma~="section"] {
  background-color: $grey-darker;
}

hr {
  height: $border-width;
}

h6 {
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

[data-am-bulma~="hero"] {
  background-color: $grey-dark;
}

[data-am-bulma~="box"] {
  box-shadow: none;
  background-color: $grey-dark;
}

a {
  transition: all 200ms ease;
}

[data-am-bulma~="content"] blockquote {
  border-color: $grey;
}

[data-am-bulma~="button"] {
  transition: all 200ms ease;
  border-width: $border-width;

  &[data-am-bulma~="is-active"],
  &[data-am-bulma~="is-focused"],
  &:active,
  &:focus {
    box-shadow: 0 0 0 2px rgba($button-focus-border, 0.5);
  }

  &[data-am-bulma~="is-loading"]:after {
    border-color: transparent transparent $button-border $button-border;
  }
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &[data-am-bulma~="is-#{$name}"] {
      &[data-am-bulma~="is-hovered"],
      &:hover {
        background-color: lighten($color, 7.5%);
      }

      &[data-am-bulma~="is-active"],
      &[data-am-bulma~="is-focused"],
      &:active,
      &:focus {
        border-color: $color;
        box-shadow: 0 0 0 2px rgba($color, 0.5);
      }
    }
  }
}

[data-am-bulma~="label"] {
  color: $grey-lighter;
}

[data-am-bulma~="button"],
[data-am-bulma~="input"],
[data-am-bulma~="pagination-ellipsis"],
[data-am-bulma~="pagination-link"],
[data-am-bulma~="pagination-next"],
[data-am-bulma~="pagination-previous"],
[data-am-bulma~="select"],
[data-am-bulma~="select"] select,
[data-am-bulma~="textarea"],
[data-am-bulma~="control"][data-am-bulma~="has-icons-left"] [data-am-bulma~="icon"],
[data-am-bulma~="control"][data-am-bulma~="has-icons-right"] [data-am-bulma~="icon"] {
  height: 2.5em;
}

[data-am-bulma~="input"],
[data-am-bulma~="textarea"] {
  transition: all 200ms ease;
  box-shadow: none;
  border-width: $border-width;
  padding-left: 1em;
  padding-right: 1em;
}

[data-am-bulma~="select"] {
  &:after,
  select {
    border-width: $border-width;
  }
}

[data-am-bulma~="control"] {
  &[data-am-bulma~="has-addons"] {
    [data-am-bulma~="button"],
    [data-am-bulma~="input"],
    [data-am-bulma~="select"] {
      margin-right: -$border-width;
    }
  }
}

[data-am-bulma~="progress"] {
  &::-webkit-progress-value {
    background-color: $grey;
  }

  &::-moz-progress-bar {
    background-color: $grey;
  }
}

[data-am-bulma~="card"] {
  $card-border: lighten($grey-darker, 5);
  box-shadow: none;
  border: $border-width solid $card-border;
  background-color: $grey-darker;
  border-radius: $radius;

  [data-am-bulma~="card-image"] {
    img {
      border-radius: $radius $radius 0 0;
    }
  }

  [data-am-bulma~="card-header"] {
    box-shadow: none;
    background-color: rgba($black-bis, .2);
    border-radius: $radius $radius 0 0;
  }

  [data-am-bulma~="card-footer"] {
    background-color: rgba($black-bis, .2);
  }

  [data-am-bulma~="card-footer"],
  [data-am-bulma~="card-footer-item"] {
    border-width: $border-width;
    border-color: $card-border;
  }
}

[data-am-bulma~="notification"] {
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &[data-am-bulma~="is-#{$name}"] {
      a:not([data-am-bulma~="button"]) {
        color: $color-invert;
        text-decoration: underline;
      }
    }
  }
}

[data-am-bulma~="tag"] {
  border-radius: $radius;
}

[data-am-bulma~="menu-list"] {
  a {
    transition: all 300ms ease;
  }
}

[data-am-bulma~="modal-card-body"] {
  background-color: $grey-darker;
}

[data-am-bulma~="modal-card-foot"],
[data-am-bulma~="modal-card-head"] {
  border-color: $grey-dark;
}

[data-am-bulma~="message-header"] {
  font-weight: $weight-bold;
}

[data-am-bulma~="message-body"] {
  border-width: $border-width;
  border-color: $grey;
}

[data-am-bulma~="nav"] {
  background-color: $grey-dark;
  border-radius: $radius;

  [data-am-bulma~="nav-item"] a:not([data-am-bulma~="button"]),
  a[data-am-bulma~="nav-item"]:not([data-am-bulma~="button"]) {
    color: $grey;

    &:hover {
      color: $link-hover;
    }
    // Modifiers
    &[data-am-bulma~="is-active"] {
      color: $grey-lighter;

      &[data-am-bulma~="is-tab"] {
        border-bottom-color: $grey-lighter;
      }
    }
  }

  [data-am-bulma~="nav-toggle"] {
    &:hover {
      background-color: $link-hover;
    }

    span {
      background-color: $grey-lighter;
    }
  }
}

[data-am-bulma~="hero"] [data-am-bulma~="nav"],
body > [data-am-bulma~="nav"] {
  border-radius: 0;
}

[data-am-bulma~="pagination-link"],
[data-am-bulma~="pagination-next"],
[data-am-bulma~="pagination-previous"] {
  border-width: $border-width;
}

[data-am-bulma~="panel-block"],
[data-am-bulma~="panel-heading"],
[data-am-bulma~="panel-tabs"] {
  border-width: $border-width;

  &:first-child {
    border-top-width: $border-width;
  }
}

[data-am-bulma~="panel-heading"] {
  font-weight: $weight-bold;
}

[data-am-bulma~="panel-tabs"] {
  a {
    border-width: $border-width;
    margin-bottom: -$border-width;

    &[data-am-bulma~="is-active"] {
      border-bottom-color: $link-active;
    }
  }
}

[data-am-bulma~="panel-block"] {
  &:hover {
    color: $link-hover;

    [data-am-bulma~="panel-icon"] {
      color: $link-hover;
    }
  }

  &[data-am-bulma~="is-active"] {
    [data-am-bulma~="panel-icon"] {
      color: $link-active;
    }
  }
}

[data-am-bulma~="tabs"] {
  a {
    border-bottom-width: $border-width;
    margin-bottom: -$border-width;
  }

  ul {
    border-bottom-width: $border-width;
  }

  &[data-am-bulma~="is-boxed"] {
    a {
      border-width: $border-width;
    }

    li[data-am-bulma~="is-active"] a {
      background-color: $background;
    }
  }

  &[data-am-bulma~="is-toggle"] {
    li a {
      border-width: $border-width;
      margin-bottom: 0;
    }

    li + li {
      margin-left: -$border-width;
    }
  }
}

[data-am-bulma~="hero"] {
  // Colors
  [data-am-bulma~="nav"] {
    background-color: $grey-darker;
  }
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &[data-am-bulma~="is-#{$name}"] {
      [data-am-bulma~="nav"] {
        background-color: $color;
      }

      [data-am-bulma~="nav-item"] a:not([data-am-bulma~="button"]),
      a[data-am-bulma~="nav-item"] {
        color: $color-invert;

        &[data-am-bulma~="is-active"],
        &:hover {
          background-color: darken($color, 10);
          color: $color-invert;
        }
      }
    }
  }
}
