// Overrides
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

[data-am-bulma~="section"] {
    background-color: $body-background;
}

[data-am-bulma~="hero"] {
    background-color: $body-background;
}

[data-am-bulma~="box"] {
    background-color: $background;
}

[data-am-bulma~="button"] {
    &[data-am-bulma~="is-hovered"],
    &:hover {
        background-color: darken($button-background, 3%);
    }
    @each $name, $pair in $colors {
        $color: nth($pair, 1);
        $color-invert: nth($pair, 2);

        &[data-am-bulma~="is-#{$name}"] {
            &[data-am-bulma~="is-hovered"],
            &:hover {
                background-color: darken($color, 3%);
            }
        }
    }

    &[data-am-bulma~="is-loading"]:after {
        border-color: transparent transparent $grey-light $grey-light;
    }
}

[data-am-bulma~="label"] {
    color: $grey-lighter;
}

[data-am-bulma~="notification"] {
    @each $name, $pair in $colors {
        $color: nth($pair, 1);
        $color-invert: nth($pair, 2);

        &[data-am-bulma~="is-#{$name}"] {
            a:not([data-am-bulma~="button"]) {
                color: $color-invert;
                text-decoration: underline;
            }
        }
    }
}

[data-am-bulma~="card"] {
    box-shadow: none;
    border: 1px solid $border;
    background-color: darken($body-background, 1);
    border-radius: $radius;

    [data-am-bulma~="card-image"] {
        img {
            border-radius: $radius $radius 0 0;
        }
    }

    [data-am-bulma~="card-header"] {
        box-shadow: none;
        background-color: darken($body-background, 3);
        border-radius: $radius $radius 0 0;
    }

    [data-am-bulma~="card-footer"] {
        background-color: darken($body-background, 3);
    }

    [data-am-bulma~="card-footer"],
    [data-am-bulma~="card-footer-item"] {
        border-width: 1px;
        border-color: $border;
    }
}

[data-am-bulma~="modal-card-body"] {
    background-color: $body-background;
}

[data-am-bulma~="nav"] {
    background-color: $background;

    [data-am-bulma~="nav-item"] a:not([data-am-bulma~="button"]),
    a[data-am-bulma~="nav-item"]:not([data-am-bulma~="button"]) {
        color: $grey-lighter;

        &:hover {
            color: $link;
        }

        &[data-am-bulma~="is-active"] {
            color: $primary;
        }
    }
}

[data-am-bulma~="hero"] {
    [data-am-bulma~="nav"] {
        background-color: $background;
    }
    @each $name, $pair in $colors {
        $color: nth($pair, 1);
        $color-invert: nth($pair, 2);

        &[data-am-bulma~="is-#{$name}"] {
            [data-am-bulma~="nav"] {
                background-color: $color;
            }

            [data-am-bulma~="nav-item"] a:not([data-am-bulma~="button"]),
            a[data-am-bulma~="nav-item"] {
                color: $color-invert;

                &[data-am-bulma~="is-active"],
                &:hover {
                    background-color: darken($color, 10);
                    color: $color-invert;
                }
            }
        }
    }
}

[data-am-bulma~="tabs"] {
    &[data-am-bulma~="is-boxed"] {
        li[data-am-bulma~="is-active"] a {
            background-color: $background;
        }
    }
}
